# third party libraries
third_party/AFLplusplus/
third_party/dpdk-24.11/
third_party/libprotobuf-mutator/build/
third_party/libprotobuf-mutator/

# fuzzer output
output-fuzz/
output-fuzz*

# fuzzer input
input-seeds/

# build directory
build/

# cache and vscode
.cache/
.vscode/

# coverage report
cov_report/
cov_report*
cov_*

