# third party libraries
third_party/dpdk-24.11/

# fuzzer output
output-fuzz/
output-fuzz*

# fuzzer input
input-seeds/

# build directory
build/

# cache and vscode
.cache/
.vscode/

# coverage report
cov_report/
cov_report*
cov_*

